body{
  background-color:grey;
  font-family: arial; 
}

article{
  background-color:blue;
  width: 30%;
  color: white;
  border-style: solid;
  border-color: green;
  border-width: 3px;
  padding: 10px;
  margin: 20px;
  float: left;
}
